<a href="https://colab.research.google.com/github/capitallatera/Statistics/blob/main/Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
# sales figure
my_data=pd.read_csv("/content/drive/MyDrive/hypothesis_testing.csv")
my_data.head()

   Current  New
0      264  277
1      261  269
2      267  263
3      272  266
4      258  262

##### Hypotheis
- H0: current  = new
- H1: current != new

In [ ]:
current=my_data['Current']
new=my_data['New']

Two Sample T-test

In [ ]:
from scipy.stats import ttest_ind
ttest_ind(current,new)

Ttest_indResult(statistic=1.3283615935245678, pvalue=0.18793228491854663)

Accepting the H0 hypothesis

Two sample Z-test

In [ ]:
from statsmodels.stats import weightstats as stests
ztest,pval1=stests.ztest(current,x2=new,value=0,alternative='two-sided')  # two tail
print(float(pval1))

0.18405868087594723

- it is same 
- t-distribution will start following the z-distribution after the certain value which is 30
- When degree of freedom which is (n-1) is start increasing 
n will also increase resulting to  t-distribution will start following z-distribution

Paird T-test

In [ ]:
from scipy import stats
stats.ttest_rel(current,new)

Ttest_relResult(statistic=1.2769699827911767, pvalue=0.20916361823147053)

- Do ask for is there any margin added ; like advertisement, promotions and discounts